<!doctype html>
<html>

<head>
    <title>Weather System </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" href="data:,">

</head>

<body>
    <a href="http://127.0.0.1:2000/charts">Charts</a>
    <h1>Weather System</h1>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script type="module">
        const socket = io("http://127.0.0.1:2000/");
        socket.on('update', function (message) {
            console.log('Received message:', message);
            document.getElementById("co2").innerHTML = message.co2 + 'ppm';
            document.getElementById("tvoc").innerHTML = message.tvoc + 'ppb';
            document.getElementById("temp").innerHTML =  message.temp + 'F';
            document.getElementById("pressure").innerHTML = message.pressure + 'Pa';
            document.getElementById("humidity").innerHTML = message.humidity + '%';
            document.getElementById("light").innerHTML = message.light + 'lm';
        });
        // socket.emit("howdy", "stranger");
    </script>


    <h3>CO2</h3>
    <p id="co2"> </p>
    <h3>TVOC</h3>
    <p id="tvoc"> </p>
    <h3>Temp</h3>
    <p id="temp"> </p>
    <h3>Pressure</h3>
    <p id="pressure"> </p>
    <h3>Humidity</h3>
    <p id="humidity"> </p>
    <h3>Light</h3>
    <p id="light"> </p>


</body>

</html>